{% extends "layout.html" %}

{% block content %}
<h1 class="mb-4 text-center">Formulario de Validación</h1>
<form class="row g-3">
    <div class="col-md-6">
        <label for="telefono" class="form-label">Teléfono (10 dígitos):</label>
        <div class="input-group">
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ejemplo: 1234567890" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="telefono_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="correo" class="form-label">Correo Electrónico:</label>
        <div class="input-group">
            <input type="email" class="form-control" id="correo" name="correo" placeholder="Ejemplo: correo@dominio.com" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="correo_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="curp" class="form-label">CURP:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="curp" name="curp" placeholder="Ejemplo: BACD001230MXYBCDA1" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="curp_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="rfc" class="form-label">RFC:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="rfc" name="rfc" placeholder="Ejemplo: ABC123456XYZ" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="rfc_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="ipv4" class="form-label">Dirección IP v4:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="ipv4" name="ipv4" placeholder="Ejemplo: 192.168.1.1" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="ipv4_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <label for="fecha" class="form-label">Fecha de Cumpleaños (DD/MM/AA):</label>
        <div class="input-group">
            <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Ejemplo: 31/12/99" oninput="validateField(this)">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="fecha_checkbox" disabled>
            </div>
        </div>
    </div>

    <div class="col-md-6 mt-4">
        <button type="submit" class="btn btn-lg btn-primary" id="submitButton" onclick="showSuccessAlert(event)" disabled>ENVIAR</button>
    </div>

</form>
{% endblock %}
